@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-right: auto;
  }

  .slick-slide > div {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
  }
  